<div class="director-form">
	<form name="directorForm" novalidate>
		<div angular-google-maps-geocoder placeid="{{my_place_id}}" output="out" placeholder="Placeholder goes here..." min-length="5" wait-ms="500"></div>
		<div class="input-group">
			<input type="text" class="form-control input-search" id="address" placeholder="Enter Address" ng-model="directorCtrl.address">
			<span class="input-group-btn">
				<button class="btn btn-default btn-search" type="submit" ng-click="directorCtrl.submit()">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
			</span>
		</div>
		<!--<button class="btn btn-primary" type="submit" ng-click="directorCtrl.submit()">Submit</button>-->
	</form>
</div>
<div class="director-history">
	<archiver></archiver>
</div>
<div class="director-map">
	<mapper></mapper>
</div>
