<div class="row">
	<div class="col-md-7 col-sm-12">
		<div class="simple-form">
			<form>
				<div class="form-group">
					<label for="nameEdit">Name</label>
					<input type="text" class="form-control" id="nameEdit" placeholder=" Enter your name..." ng-model="loaded.contact.name">
				</div>
				<div class="form-group">
					<label for="email">Email Address</label>
					<input type="email" class="form-control" id="emailaddr" placeholder="and your email address" ng-model="loaded.contact.email">
				</div>
				<div class="form-group">
					<label>Contact via:</label>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="email" ng-model="loaded.contact.viaEmail">
							Email
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="text" ng-model="loaded.contact.viaText">
							Text
						</label>
					</div>
				</div>
				<button class="btn btn-primary" type="submit" ng-click="loaded.submit()">Submit</button>
			</form>
		</div>
	</div>
	<div class="col-md-5 col-sm-12">
		<fieldset disabled>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name_RO" placeholder=" Enter your name..." ng-model="loaded.contact.name">
			</div>
			<div class="form-group">
				<label for="email">Email Address</label>
				<input type="email" class="form-control" id="emailaddr_RO" placeholder="and your email address" ng-model="loaded.contact.email">
			</div>
			<div class="form-group">
				<label>Contact via:</label>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="loaded.contact.viaEmail">
						Email
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="loaded.contact.viaText">
						Text
					</label>
				</div>
			</div>
		</fieldset>
	</div>
</div>
